vendor/*
test/*
!vendor/.htaccess
.vscode/*
config.inc.php
.htaccess
logs/
storage/
cache/
# === Debug logs ===
wkhtml_debug.log
pdf_debug.log

tabdata.php
parent_tabdata.php
user_privileges/*

api/api_debug.log

# === Local logs ===
db_backups/deploy.log
test-db.php

.env