vendor/*
test/*
!vendor/.htaccess
.vscode/*
config.inc.php
.htaccess
logs/
storage/
cache/
# === Debug logs ===
wkhtml_debug.log
pdf_debug.log

api/api_debug.log

# === Local logs ===
db_backups/deploy.log

.env